n8n-adapter/AuraVisual-Fixed-Workflow.json
{
    "name": "AuraVisual - PC Setup Image Generator (Final Fix)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "auravisual-trigger",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "e44c2174-8451-40be-afa4-28b3e83b8fc7",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "webhookId": "auravisual-trigger"
        },
        {
            "parameters": {
                "jsCode": "const comps = $input.item.json.body.components || [];\n\nconst getComp = (type, fallback) => {\n  const c = comps.find(c => c.type === type);\n  return c && c.name && c.name !== 'Unknown' ? c.name : fallback;\n};\n\nlet prompt = \"A hyper-realistic 8k photography of an ultimate complete gaming PC setup room corner. \";\nprompt += \"On the sleek wooden desk, there is a \" + getComp('MONITOR', 'gaming monitor') + \", \";\nprompt += \"a \" + getComp('KEYBOARD', 'mechanical keyboard') + \", \";\nprompt += \"a \" + getComp('MOUSE', 'gaming mouse') + \", \";\nprompt += \"and a \" + getComp('HEADSET', 'professional gaming headset') + \" resting on a stand. \";\nprompt += \"The main PC case is a \" + getComp('CASE', 'premium glass ATX case') + \", glowing with stunning RGB lighting. \";\nprompt += \"Clearly visible inside the case is a \" + getComp('VGA', 'high-end graphics card') + \" mounted on a \" + getComp('MB', 'gaming motherboard') + \", \";\nprompt += \"cooled by \" + getComp('COOLING', 'premium liquid cooling') + \" and \" + getComp('FANS', 'RGB case fans') + \", \";\nprompt += \"with \" + getComp('MEMORY', 'RGB RAM') + \". \";\nprompt += \"Dramatic studio lighting, cinematic atmosphere, hyper-detailed textures, breathtaking reflection raytracing.\";\n\nconst validImages = comps.map(c => c.image).filter(img => img && typeof img === 'string' && img.startsWith('http'));\n\nconst inputObj = {\n  prompt: prompt\n};\nif (validImages.length > 0) inputObj.image = validImages[0];\nif (validImages.length > 1) inputObj.image_2 = validImages[1];\nif (validImages.length > 2) inputObj.image_3 = validImages[2];\nif (validImages.length > 3) inputObj.image_4 = validImages[3];\n\n$input.item.json.replicatePayloadJSON = JSON.stringify({ input: inputObj });\n\nreturn $input.item;"
            },
            "id": "code-node-id",
            "name": "Build Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                420,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.replicate.com/v1/models/google/nano-banana-pro/predictions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Token YOUR_REPLICATE_API_TOKEN_HERE"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "wait=60"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.replicatePayloadJSON }}",
                "options": {}
            },
            "id": "2db4f9e1-2508-4122-861f-dbe329c32274",
            "name": "Replicate HTTP",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                640,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"imageUrl\": \"{{ (Array.isArray($json.output) ? $json.output[0] : null) || 'https://raw.githubusercontent.com/98tttm/AuraPC/main/projects/my-client/src/assets/mock_auravisual.png' }}\" }",
                "options": {}
            },
            "id": "e4c7d03a-3134-448f-aa6a-f32a4e2ef5b6",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                860,
                300
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Build Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Prompt": {
            "main": [
                [
                    {
                        "node": "Replicate HTTP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Replicate HTTP": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}